{
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-typescript",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "react/jsx-props-no-spreading": "off"
  }
}
